body {
  background-color: #262615;
  font-family: Asap, sans-serif;
}

.logo {
  width: 200px;
}

nav {
  border-top: .1em solid #8d504f;
  border-bottom: .1em solid #8d504f;
}

nav a {
  color: #f2f2e5;
  text-decoration: none;
}

nav a:hover {
  background-color: #8d504f;
}

.banner {
  background-color: rgba(255, 255, 255, .7);
}

.home-banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  min-height: 30em;
  background-position: center center;
}

.rescues-banner {
  background-image: url("../images/rescues.jpg");
  background-size: cover;
  min-height: 30em;
  background-position: center center;
}

.donate-banner {
  background-image: url("../images/donate.jpg");
  background-size: cover;
  min-height: 30em;
  background-position: center center;
}

h1 {
  color: #262615;
  font-family: Forum, cursive;
}

h2 {
  color: #8d504f;
  font-family: Forum, cursive;
}

.body-p {
  color: #727366;
}

footer {
  background-color: #0d0000;
  color: #f2f2e5;
}

.link-card {
  display: block;
  padding: 1em;

  background-color: #0d0000;
  border: 1.5px solid #8d504f;
  border-radius: 8px;

  color: #f2f2e5;
  text-decoration: none;
}

.horse-image {
  width: 100%;
}

.btn {
  background-color: #262615;
  color: #f2f2e5;
  border-color: #f2f2e5;
}

.btn:hover,
.btn:active {
  background-color: #f2f2e5;
  color: #262615;
  border-color: #262615;
}

legend {
  color: #8d504f;
}

label {
  color: #f2f2e5;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}


@media only screen and (min-width: 25em) {

  .logo {
    width: 250px;
  }

}

@media only screen and (min-width: 38em) {

  .logo {
    width: 300px;
  }

}
